<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="OR first Suite">
    <listeners>
        <listener class-name="utilities.Listener" />
    </listeners>
    <test name="Test" thread-count="5">
        <classes>

            <class name="MP.ApplicationRegistration"></class>
            <class name="MP.ApplicationCreation"></class>
            <class name="MP.ApprovalProcess"></class>

        </classes>
    </test>
</suite>
